/* Здесь вы напишете основную часть стилей страницы.
  --- Проверка после клонирования!---
Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/



/* Покраска SVG */
path {
  fill: var(--accent-color)
}

/* Основа */
.page {
  display: flex;
  flex-direction: column;
  gap:50px;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: 'Inter', sans-serif;
  font-weight: var(--main-font-weight);
  background-color: var(--background-color);
  background-image: repeating-linear-gradient(to right, var(--gradient-net-color) 0px 2px, transparent 2px 4px),
  repeating-linear-gradient(to bottom, var(--gradient-net-color) 0px 2px, transparent 2px 4px),
  linear-gradient(to bottom, var(--gradient-vertical-color-first) 00.01%, var(--gradient-vertical-color-last));
  background-size: cover;
  color: var(--font-color);
}

/* Шапка */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 0px 50px;
  width: 100%;
  gap: 23px;
  min-height: 327px;
  background-color: var(--background-color);
  border: 2px solid var(--accent-color);
  font-family: var(--accent-text);
}
.header__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
  gap:20px;
  font-size: 14px;
  text-transform: uppercase;
}
.title {
  font-size: 49px;
}

/* Меню выбора темы */
.header__theme-menu {
  margin-bottom: 25px;
}
.theme-menu__list {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap:12px;
  margin-left: 20px;
}
.theme-menu__button {
  position: relative;
  background-color: transparent;
  color: var(--accent-color);
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 14px;
}

/* Анимации меню выбора темы */
.theme-menu__button:disabled {
  color: var(--font-accent-color);
  pointer-events: none;
}
.theme-menu__button:disabled::before {
  position: absolute;
  left: -18px;
  content: '▶';
  animation-name: animation-active-button;
  animation-iteration-count: infinite;
  animation-duration: 1s;
}
@keyframes animation-active-button {
  0% { transform: none;
  }
  50% {transform: translateX(-5px);
  }
  00% {transform: none;
  }
  }
.theme-menu__button:hover {
  opacity: 0.6;
  transition: opacity 0.3s ease;
  }
.theme-menu__button:focus-visible {
  outline: none;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  }
.theme-menu__button::after {
  content: '';
  display: block;
  width: 0%;
  height: 3px;
  margin-top: -3px;
  background-color: var(--accent-color);
  transition: width 0.3s, opacity 0.3s ease;
  transform: scaleX(0);
  }
.theme-menu__button:focus-visible::after {
  width: 100%;
  opacity: 0.6;
  transition: width 0.3s, opacity 0.3s ease;
  transform: scaleX(1);
  }
.theme-menu__button:hover::after {
  width: 100%;
  opacity: 0.6;
  transition: width 0.3s, opacity 0.3s ease;
  transform: scaleX(1);
}

/* Основная секция */
.content__section {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  border: 2px solid var(--accent-color);
  width: 100%;
  min-height: 200px;
}
.content__title {
  padding: 5px 10px 0px;
  min-height: 52px;
  font-size: 18px;
  font-weight: bold;
}
.content__image {
  border-top: 2px solid var(--accent-color);
  border-bottom: 2px solid var(--accent-color);
  max-width: 100%;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 27px;
  margin: 25px 25px 23px;
  font-size: 18px;
}
.content-text {
  display: block;
}
.button__text {
  display: flex;
  justify-content: end;
}
.heart__button {
  height: 38px;
  width: 39px;
  margin-right: 14px;
  transform: translate(6px, 2px);
}
.like__button {
  margin: 0px 25px 26px 0px;
  height: 38px;
  width: 130px;
  background-color: transparent;
  border: 2px solid var(--accent-color);
  font-family: var(--accent-text);
  font-size: 14px;
  transform: translateY(2px);
}
@media (width > 375px) {
  .header {
    width: 80%;
  } 
  .content__section {
    width: 80%;
  }
}
@supports (font-variation-settings: normal) {
  .page {
      font-family: var(--main-text), sans-serif;
  }
} 