/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/
:root.theme-light {
    --main-font-weight: normal;
    --bold-font-weight: bold;
    --background-color: #FFF;
    --accent-color: #000;
    --font-color: #000;
    --font-accent-color: #FFF;
    --gradient-net-color: #d3d3d3;
    --gradient-vertical-color-first: #e7e7e7;
    --gradient-vertical-color-last: #1a1a1a;
    --heart-color: #FF0000;
}
:root.theme-dark {
    --main-font-weight: 465;
    --bold-font-weight: 785;
    --background-color: #000;
    --accent-color: #00CC14;
    --font-color: #00CC14;
    --font-accent-color: #00CC14;
    --gradient-net-color: #000;
    --gradient-vertical-color-first: #007F0C;
    --gradient-vertical-color-last: #004306;
    --heart-color: #FF0000;
}

  @media (prefers-color-scheme: light) {
    :root {
        --main-font-weight: normal;
        --bold-font-weight: bold;
        --background-color: #FFF;
        --accent-color: #000;
        --font-color: #000;
        --font-accent-color: #FFF;
        --gradient-net-color: #d3d3d3;
        --gradient-vertical-color-first: #e7e7e7;
        --gradient-vertical-color-last: #1a1a1a;
        --heart-color: #FF0000;
    }
  }

  @media (prefers-color-scheme: dark) {
    :root {
        --main-font-weight: 465;
        --bold-font-weight: 785;
        --background-color: #000;
        --accent-color: #00CC14;
        --font-color: #00CC14;
        --font-accent-color: #00CC14;
        --gradient-net-color: #000;
        --gradient-vertical-color-first: #007F0C;
        --gradient-vertical-color-last: #004306;
        --heart-color: #FF0000;
    }
  }